<div class="main-header" id="main-header">
    <nav class="navbar mynav navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> 
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                 </button>
                <a class="navbar-brand" routerLink="Home">AgriFarm</a> </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li *ngIf="!(loginsessionuser)" class="active"><a routerLink="Home">Home</a></li>
                    <li *ngIf="(loginsessionuser && usertype=='admin')" class="active"><a routerLink="AdminHome">AdminHome</a></li>
                    <li *ngIf="(loginsessionuser && usertype=='farmer')" class="active"><a routerLink="FarmerHome">FarmerHome</a></li>
                    <li *ngIf="(loginsessionuser && usertype=='bidder')" class="active"><a routerLink="BidderHome">BidderHome</a></li>

                    <li><a routerLink="Aboutus">About Us</a></li>
                    <li><a routerLink="Contactus">Contact Us</a></li>
                    <li *ngIf="!(loginsessionuser)"><a routerLink="Login"><span class="glyphicon glyphicon-user"></span>&nbsp; Login</a></li>
                    <li *ngIf="loginsessionuser"><a (click)="logout()">Logout</a></li>
                    <li *ngIf="loginsessionuser"><a>Hello {{username}} </a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="main-page">
    <router-outlet></router-outlet>
</div>

<!-- home -->

<!-- <div class="banner" id="banner">
    <div class="bg-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner-text">
                        <h2>Welcome to <span>AgriFarm</span></h2>
                        <p>Treat Yourself Organic!</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- About -->

<!-- <div class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>About Us</h3>
            </div>
            <div class="col-md-6">
                <div class="about-text">
                    <p style="text-align: justify;
                    text-justify: inter-word;">Crop Insurance is an integrated IT solution and a web-based ecosystem to speed up service delivery, unify fragmented databases, achieve a single view of data, and eliminate manual processes. Crop Insurance provides insurance services
                        to farmers faster than before. </p>
                    <p style="text-align: justify;
                    text-justify: inter-word;">The Government is endeavouring for the integration of all the stakeholders viz. farmers, insurance companies, financial institutions & Government agencies on single IT platform. This will ensure better administration, coordination
                        & transparency for getting real time information and monitoring. </p>
                    <p style="text-align: justify;
                    text-justify: inter-word;">
                        This is a stable, secure and seamlessly integrated ecosystem created with a comprehensive view of data in a secure environment thereby enabling information access to multiple stakeholders viz. Farmers, Govt. Functionaries, Insurance Companies, Intermediaries,
                        Bankers and social & community bodies.
                    </p>
                    <p style="text-align: justify;
                    text-justify: inter-word;">
                        Crop Insurance portal has enabled the digitization of notification of areas, crops, schemes for enabling information access to multiple stakeholders thereby facilitating ease of access to the farmers in availing crop insurance services. This automated
                        solution has opened a window of opportunity to remote and economically-weak farmers to benefit from crop insurance services.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="counter-item text-center">
                    <br>
                    <img src="assets/images/aboutus.jpg" alt="about" width="80%" height="80%" />
                    <div class="timer" data-from="0" data-to="55" data-speed="5000" data-refresh-interval="50"></div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Contact -->
<!-- <div class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h3>Contact Us</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-form">
                    <form role="form" #contactus="ngForm" (ngSubmit)="Oncontact(contactus)">
                        <div>
                            <label for="ContactName">Enter Contact Name: &nbsp; &nbsp; </label><br>
                            <input type="text" class="form-control" id="name" name="ContactName" [(ngModel)]=contact.ContactName #ContactName="ngModel" placeholder="Contact Name" required>
                        </div><br>
                        <div>
                            <label for="Email">Enter Email-id: &nbsp; &nbsp; </label><br>
                            <input type="email" class="form-control" id="email" name="Email" [(ngModel)]=contact.Email #Email="ngModel" placeholder="Email Id" required>
                        </div><br>
                        <div>
                            <label for="RequestType">Type of Request: &nbsp; &nbsp; </label><br>
                            <select name="RequestType" id="request" [(ngModel)]=contact.RequestType #RequestType="ngModel" required>
                              <option selected>Choose Request</option>
                              <option *ngFor="let r of request ">{{r}}</option>
                          </select>
                        </div><br>
                        <div>
                            <label for="RequestType">Enter Message: &nbsp; &nbsp; </label><br>
                            <textarea class="form-control " placeholder="Message" rows="4" name="Message" [(ngModel)]=contact.Message #Message="ngModel" required></textarea>
                        </div>
                        <div class="col-md-12 text-center ">
                            <button type="submit " class="contact-button ">Send Message</button>
                        </div>
                    </form>
                </div>

            </div>
            <div class="col-md-6">
                <br><br><br><br>
                <img src="assets/images/contactus.jpg" alt="about" width="90%" height="90%" />
            </div>
        </div>
    </div>
</div> -->

<!-- login -->
<!-- <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h2 class="modal-title" id="myModalLabel">Login Here!</h2>
                </center>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form role="form" #loginform="ngForm" (ngSubmit)="OnLogin(loginform)">
                    <div>
                        <label for="Email">Enter Email-id: </label><br>
                        <input type="text" class="form-control" id="email" name="Email" [(ngModel)]=login.Email #Email="ngModel" placeholder="Email Id" required email>
                    </div><br>
                     email validation 
                    <div *ngIf="!Email?.valid && (Email?.dirty || Email?.touched)" class="error">
                        <div *ngIf="Email.errors.required">
                            <small class="text-danger">Customer Emailid Required!</small>
                        </div>
                        <div *ngIf="Email.errors.email">
                            <small class="text-danger">Email should be correct format!</small>
                        </div>
                    </div><br>


                    <div>
                        <label for="Password">Enter Password: </label><br>
                        <input type="password" class="form-control" id="name" name="Password" [(ngModel)]=login.Password #Password="ngModel" placeholder="Password" required>
                    </div><br>
                     password validation 
                    <div *ngIf="!Password?.valid && (Password?.dirty || Password?.touched)" class="error">
                        <div *ngIf="Password.errors?.required">
                            <small class="text-danger">Password Required!</small>
                        </div>
                    </div><br>

                    <div>
                        <label for="UserType">Enter User Type: </label><br>
                        <input type="radio" name="UserType" value="Admin" [(ngModel)]=login.UserType #UserType="ngModel">Admin &nbsp;&nbsp;
                        <input type="radio" name="UserType" value="Farmer" [(ngModel)]=login.UserType #UserType="ngModel">Farmer &nbsp;&nbsp;
                        <input type="radio" name="UserType" value="Bidder" [(ngModel)]=login.UserType #UserType="ngModel">Bidder &nbsp;&nbsp;
                    </div><br>

                    <a>New User? Register Here!</a>
                    <hr>
                    <center>
                        <button type="submit" class="btn btn-default">Login</button> &nbsp;&nbsp;
                        <button type="reset" class="btn btn-default">Reset</button>
                    </center>
                </form>
            </div>
        </div>
    </div>
</div> -->

<!-- footer -->
<footer>
    <div class="container ">
        <div class="row ">
            <div class="col-md-4 ">
                <ul class="list-inline social-buttons ">
                    <li><a href="# "><i class="fa fa-twitter "></i></a> </li>
                    <li><a href="# "><i class="fa fa-facebook "></i></a> </li>
                    <li><a href="# "><i class="fa fa-linkedin "></i></a> </li>
                </ul>
            </div>
            <!-- <div class="col-md-4 ">
                <ul class="list-inline quicklinks ">
                    <li>Designed by Vijay,Sagar,Nikhil,Rakshanda</li>
                </ul>
            </div> -->
        </div>
    </div>
</footer>

<script>
    $(document).ready(function() {

        $("#owl-demo ").owlCarousel({

            navigation: false, // Show next and prev buttons
            slideSpeed: 500,
            autoPlay: 3000,
            paginationSpeed: 400,
            singleItem: true

            // "singleItem:true " is a shortcut for:
            // items : 1, 
            // itemsDesktop : false,
            // itemsDesktopSmall : false,
            // itemsTablet: false,
            // itemsMobile : false

        });

    });

    /*$('.timer').each(count);*/
    jQuery(function($) {
        // custom formatting example
        $('.timer').data('countToOptions', {
            formatter: function(value, options) {
                return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
            }
        });


        // start all the timers
        $('#testimonials').waypoint(function() {
            $('.timer').each(count);
        });

        function count(options) {
            var $this = $(this);
            options = $.extend({}, options || {}, $this.data('countToOptions') || {});
            $this.countTo(options);
        }
    });


    $(document).ready(function() {
        // Add smooth scrolling to all links in navbar + footer link
        $(".navbar a, footer a[href='#myPage' ] ").on('click', function(event) {

            // Prevent default anchor click behavior
            event.preventDefault();

            // Store hash
            var hash = this.hash;

            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, 900, function() {

                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
            });
        });
    })
</script>