<div class="banner" id="banner">
  <div class="bg-overlay">
      <div class="container">
          <div class="row">
              <div class="body">
                  <div class="card" (click)="gotoFarmer()">
                    <img src="assets/images/farmer.jpg" alt="farmer" width="100%" height="100%" />
                      <div class="info">
                          <div class="text">Register As</div>
                          <div class="title">Farmer</div>
                      </div>
                  </div>

                  
                  <div class="card" (click)="gotoBidder()">
                    <img src="assets/images/bidder.jpg" alt="bidder" width="100%" height="100%" />  
                      <div class="info">
                          <div class="text">Register As</div>
                          <div class="title">Bidder</div>
                      </div>
                  </div>
                  
              </div>
          </div>

      </div>
  </div>
</div>
